In [15]:
import pandas as pd

In [16]:
network = 'NET3'
directory1 = '../meerCRAB_output/'+network+'/T9_NRD/classified_examples/'

In [17]:
network_output = pd.read_csv(directory1+'overall_probability.csv')
network_output

      transientid  ML_PROB_REAL  y_true
0          844750  1.000000e+00       1
1         2673646  5.667978e-07       0
2          155823  3.577310e-25       0
3          553776  2.536178e-04       0
4         2298829  2.630675e-09       0
...           ...           ...     ...
1090      1107291  1.000000e+00       1
1091      3000879  1.000000e+00       1
1092         6873  1.000000e+00       1
1093       140840  1.011510e-14       0
1094      2651234  9.999847e-01       1

[1095 rows x 3 columns]

In [18]:
ML_LABEL = pd.DataFrame()
for i in range(network_output.shape[0]):
    if (network_output['ML_PROB_REAL'].iloc[i] >= 0.5):
        label = pd.DataFrame([1],columns=[network+'_ML_LABEL'])
    else:
        label = pd.DataFrame([0],columns=[network+'_ML_LABEL'])
    ML_LABEL = ML_LABEL.append([label],ignore_index=True)
    
ML_LABEL

      NET3_ML_LABEL
0                 1
1                 0
2                 0
3                 0
4                 0
...             ...
1090              1
1091              1
1092              1
1093              0
1094              1

[1095 rows x 1 columns]

In [19]:
predicton_table = pd.concat([network_output,ML_LABEL],axis=1,join='outer')
predicton_table

      transientid  ML_PROB_REAL  y_true  NET3_ML_LABEL
0          844750  1.000000e+00       1              1
1         2673646  5.667978e-07       0              0
2          155823  3.577310e-25       0              0
3          553776  2.536178e-04       0              0
4         2298829  2.630675e-09       0              0
...           ...           ...     ...            ...
1090      1107291  1.000000e+00       1              1
1091      3000879  1.000000e+00       1              1
1092         6873  1.000000e+00       1              1
1093       140840  1.011510e-14       0              0
1094      2651234  9.999847e-01       1              1

[1095 rows x 4 columns]

In [20]:
#import numpy as np
    
#misclass = predicton_table[predicton_table.y_true!=predicton_table.ML_LABEL]
#misclass[network]=np.repeat(['No'],misclass.shape[0])
#corclass = predicton_table[predicton_table.y_true==predicton_table.ML_LABEL]
#corclass[network]=np.repeat(['Yes'],corclass.shape[0])
#final_table = pd.concat([misclass,corclass],axis=0)
#final_table

In [21]:
final_table = predicton_table
final_table.to_csv(directory1+'contigency_table.csv',index=None)